header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/doctor-her-patient-choosing-mammary-prosthesis-office.jpg');
    // background-position: left 20px;
    background-repeat: no-repeat;
    height: 700px;
    max-width: 100%;
    // height: fit-content;
    // position: relative;
}

.navbar a{
    color: white !important;
    margin-bottom: 3px;
}

.nav-item{
    padding: 5px;
}

#bookButton{
    // margin-left: 2px;
    border: white solid 2px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.navbar a:hover {
    background: none !important;
    border-bottom: 3px solid white;
    margin-bottom: 0;
}

#info{
    margin: 0px auto;
    padding: 170px 0px;
    color: white;
}

#info h1{
    font-size: 50px;
}

p span{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.booking-form{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: 50px 0 0 40px;
    padding: 20px 20px ;
    // position: absolute;
}


form select, form input{
    background-color: #F2F2F2 !important;
    border: #E2E2E2 !important;
    margin-top: 20px;
}

.row-content{
    padding: 100px 0 100px 0;
    white-space: nowrap;
    // overflow: hidden;
}

#circle1 {
background: #FBF5F2;
background-image: url('../img/Path\ 4002.jpg');
background-position:50% 50%;
background-repeat:no-repeat;
border-radius: 50%;
width: 50px;
height: 50px;
}

#circle2 {
background: #FBF5F2;
background-image: url('../img/medicine.jpg');
background-position:50% 50%;
background-repeat:no-repeat;
border-radius: 50%;
width: 50px;
height: 50px;
}

#circle3 {
background: #FBF5F2;
background-image: url('../img/Path\ 4002.jpg');
background-position:50% 50%;
background-repeat:no-repeat;
border-radius: 50%;
width: 50px;
height: 50px;
}

.doubts{
    padding: 100px 0;
}

.shaded{
    background-color: #FCFCFC;
}

.img-icon{
    list-style-image: url('../img/Path\ 4600.png');
}

.shaded-darker{
    background-color: #FBF5F2;
    background-image: url('../img/Mask\ Group\ 56.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    // background-size: 500px 500px;
}

.card{
    border-color: white;
    border-radius: 10px;
    width: 260px;
    height: 295px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: height 1s;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.card:hover{
    height: 367px;
}

.card-body{
    padding-top: 80px;
    // font-size: 90%;
}

.card-title{
    font-size: 20px;
}

.carousel-indicators li{
    background-color: #22CC6E;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.controls-top a{
    color: #22CC6E;
}

#box{
    width: 270px;
    height: 100px;
    background-color: #22CC6E; 
    border-radius: 10px;
    transition: height 1s;
}

.carousel-item{
    text-align: center;
}


footer{
    background-color: black;
    height: 445px;
}

footer h4{
    color: white;
}

footer li{
    color: #8E8E8E;
}

.fa {
    padding: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #242424;
    color: red;
  }

  .fa-twitter {
    background: #242424;
    color: black;
  }

  .fa-instagram {
    background: #242424;
    color: black;
  }
  

